h1{
  text-align: center;
  color:white;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: black;
}

a{
  color:aquamarine;
font-size: 20px;
  padding-left:600px;
}

.video{
 padding-left: 550px;
 padding-top:20px;
  min-width: 100%;
  min-height: 100%;
}

.container{
  position: fixed;
  max-width: 700px;
  overflow-x:hidden
}

html {
  max-width: 100%;
  overflow-x: hidden;
}