html {
  max-width: 100%;
  overflow-x: hidden;
  
}

h1{
  text-align: center;
  color:white;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: black;
  text-align: center; 
}

a{
  color:aquamarine;
font-size: 20px;
 
}

.video{
 
 padding-top:20px;
  min-width: 100%;
  min-height: 100%;
  position:absolute;
  
}

.container{
  position: fixed;
  max-width: 700px;
  flex-wrap:wrap;
  
}

